<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/" title="Home">
      <img src="/img/logo.png" alt="logo" style="width: 100px; height: 100px;">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <b>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <%= title === 'Home' ? 'active' : '' %>">
          <a class="nav-link" href="/"><i class="fas fa-lg fa-laptop-house"></i> Home</a>
        </li>
        <li class="nav-item <%= title === 'About' ? 'active' : '' %>">
          <a class="nav-link" href="/about"><i class="fa-solid fa-address-card"></i> About</a>
        </li>
        <li class="nav-item <%= title === 'Contact' ? 'active' : '' %>">
          <a class="nav-link" href="/contact"><i class="fa-solid fa-address-book"></i> Contact</a>
        </li>
        <li class="nav-item <%= title === 'Product' ? 'active' : '' %>">
          <a class="nav-link" href="/products"><i class="fa-brands fa-product-hunt"></i> Product</a>
        </li>
        <li class="nav-item <%= title === 'Services' ? 'active' : '' %>">
          <a class="nav-link" href="/services"><i class="fa-brands fa-servicestack"></i> Services</a>
        </li>
      </ul>
    </b>
    </div>
  </div>
</nav>
